<% button_label = params[:action] == "new" ? "Add Image" : "Edit Image" %>
<%= semantic_form_for (@profile_image) do |f| %>
  <%= f.semantic_errors *f.object.errors.keys %>

  <div class="row form-section">
    <div class="col-md-8">

      <div class="form-group" >
        <%= f.input :image, as: :file, :input_html => {:multiple => true} %>
      </div>
    </div>
  </div>
  
  <div class="row form-section">
    <div class="col-md-8">
      <p class="pull-right">
        <%= f.submit button_label, class: "btn btn-primary"%>
      </p>
    </div>
  </div>
<% end %>
