<!DOCTYPE html>
<html>
<head>
  <title>CzardomMap</title>
  <%= stylesheet_link_tag    "czardom_map/application", media: "all" %>
  <%= javascript_include_tag "czardom_map/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
