---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/171303432941423_890791514325941/comments?access_token=CAACEdEose0cBAIziq5sIYZB1IP5b2zxSriWrkFJozSZA4rCqDWDUpyZBiwjVDQcPnk22vVaHhhzfmfwv0RSrOF2Dx9FA1DaHWqfvfPok2Q4HDoDex78LKeZCdIYUeluY9bg7ZBXkePeHLYMbbc0x5WxLTBaPArBzG2VCRrKk5IVPtE80VivVD90uAimHdEmXXSZBDPdUBKhIdqq77cOhos&limit=250
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - "\"42891234377bb1f83f97899f68b9b2d90447b676\""
      Facebook-Api-Version:
      - v2.0
    body:
      encoding: UTF-8
      string: "{\"data\":[{\"id\":\"890889160982843\",\"from\":{\"name\":\"Laura Gordillo\",\"id\":\"10154026868975459\"},\"message\":\"I
        have someone perfect for this Brian. What's the best email to reach you?\",\"can_remove\":true,\"created_time\":\"2015-07-19T20:42:24+0000\",\"like_count\":0,\"user_likes\":false},{\"id\":\"890923924312700\",\"from\":{\"name\":\"Brian
        Hart Hoffman\",\"id\":\"10153970269018642\"},\"message\":\"Bhoffman\\u0040hoffmanmedia.com\",\"can_remove\":true,\"created_time\":\"2015-07-19T21:15:15+0000\",\"like_count\":0,\"user_likes\":false},{\"id\":\"890923954312697\",\"from\":{\"name\":\"Brian
        Hart Hoffman\",\"id\":\"10153970269018642\"},\"message\":\"Thank you!!!\",\"can_remove\":true,\"created_time\":\"2015-07-19T21:15:20+0000\",\"like_count\":0,\"user_likes[...]
