<hr />

<div class="text-center">
  <%= link_to "Log In", czardom_models_engine.login_path, class: 'btn btn-link' %>
  <%= link_to "Create Your Account", new_user_path, class: 'btn btn-success' %>
</div>
