<% button_label = params[:action] == "new" ? "Add Video" : "Edit Video" %>
<%= semantic_form_for (@profile_video) do |f| %>
  <%= f.semantic_errors *f.object.errors.keys %>

  <div class="row form-section">
    <div class="col-md-8">

      <div class="form-group" >
        <%= f.input :video, as: :string, placeholder: "Add Youtube Url" %>
      </div>
    </div>
  </div>
  
  <div class="row form-section">
    <div class="col-md-8">
      <p class="pull-right">
        <%= f.submit button_label, class: "btn btn-primary"%>
      </p>
    </div>
  </div>
<% end %>
