<p>Wecome to Czardom!</p>

<p>You're getting this email because you've signed up for CZARDOM using this email address.</p>

<p>Please click on the link below to verify the address and start enjoying the entire CZARDOM platform.</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Thanks!</p>

<p>If you didn't sign up for CZARDOM,please ignore this email. </p>