<p>Hello, Czar!</p>
<p>This is a reminder that your event - which you followed of Czardom - is <%="#{@log_type}"%> away!</p>
<p> Link to <a href='<%= CzardomEvents::Engine.routes.url_helpers.event_url(@event) %>'>event</a></p>
<p>Warm Regards,</p>
<p>The Czardom Team</p>
<p>To unsubscribe to alerts, click here (<a href='<%= CzardomEvents::Engine.routes.url_helpers.event_url(@event) %>'>link</a>)</p>