<p>Hi <%= @receiver.full_name %>, </p>
<p>You have new notification from czardom.com: </p>
<p><%= link_to "#{@description}", @url %></p>
<br/>
<br/>
<p>Czardom.com</p>
<p>Offical page: <%= link_to "czardom.com", root_url %></p>
