<div class="modal fade" tabindex="-1" role="dialog" id="new-card-modal">
  <%= form_tag cards_path do |f| %>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">New Card</h4>
        </div>
        <div class='modal-body'>
          <%= render 'card_form' %>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  <% end %>
</div>