<div class="profile-page col-md-8 col-md-offset-2 text-center" style="font-size: 1.2em">
  <h2>Welcome to Czardom! You are now a Member of the Czardom Community!</h2>
     <% binding.pry %>
  <p class="lead">
     Click here to see your <a href="http://www.czardom.com/user@user.id %>"> Profile</a> </br>
     Click here to see the <a href="http://www.czardom.com"> Home Page</a></br>
     Click here to join dozens <a href="http://www.czardom.com/account/groups"> Groups</a></br>
     Click here to check out the <a href="http://www.czardom.com/board"> Main Boards</a>
  </p>

</div>
