<div id="search-results" class="container-fluid search-results">
  <div class="search-title">
    <h2>
      Search Results
      <a class="btn btn-default btn-small" id="close-search" href="#">
        <i class="close-search"></i>
        Close Search
      </a>
    </h2>
  </div>
</div>

