<%= semantic_form_for @special_offer do |f| %>
  <%= f.text_area :content, :class => 'ckeditor'%>

  <div class="form-actions">
    <%= f.submit 'Save special_offer', class: 'btn btn-primary' %>
    <%= link_to 'Cancel', :back, class: 'btn btn-link' %>
  </div>
<% end %>
