<div class="profile-page col-md-8 col-md-offset-2 text-center" style="font-size: 1.2em">
  <h2>Thank you for your donation</h2>

  <p class="lead">
    We are so glad to have you support our site
  </p>

  <p>
    You now have the <span class="badge badge-success"><i class="fa fa-star"></i> Charter Czar</span> badge added to your name.
  </p>
</div>
