<% title "We're sorry, but something went wrong (500)" %>

<div class="profile-page col-md-5 col-md-offset-3 text-center">
  <h1>We're sorry, but something went wrong.</h1>

  <p>
    If you typed an address, check it carefully. If all else fails, use the
    links above or jump straight
    <% if user_signed_in? %>
      <%= link_to "back to your profile", main_app.user_path(current_user) %>.
    <% else %>
      <%= link_to "back to our homepage", main_app.root_path %>.
    <% end %>
  </p>
</div>
