<div class="hidden-md hidden-lg">
  <div class="pollSlider">
    <nav class = "navbar navbar-default offcanvas" role = "navigation" style="background-color:#fff; border-color: #fff;">
      <%= render 'shared/left_panel'%>
    </nav>
  </div>
  <div id="pollSlider-button">
    <i class="fa fa-chevron-right fa-sb-chevron" data-display="true"></i>
    <i class="fa fa-chevron-left fa-sb-chevron" data-display="false"></i>
  </div>
</div>

