<div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <%= link_to "Groups", groups_path %> /
        <%= link_to @group.name, group_path(@group) %>
        / Edit Group
      </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<%= render "form" %>
