.group-listing .group {
  padding: 1em;

  &:hover {
    text-decoration: none;
    background: #f2f2f2;
  }

  &:nth-child(3n+1 ) {
    clear: both;
  }

  .group-image {
    float: left;
    max-width: 60px;
    margin-right: 0.5em;
  }
}

.group-selection {

  .group {
    position: relative;
    padding: 0;
  }

  label {
    display: block;
    padding: 15px;
    margin: 0;
    cursor: pointer;
  }

  .fa-check {
    background: none repeat scroll 0 0 #00c800;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    height: 34px;
    left: 28px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 27px;
    width: 34px;

    transition: transform 0.15s ease-out 0s;
    transform: translateY(10px) scale(0);
  }

 input[type=checkbox] {
   display: none;

   &:checked + label img {
     opacity: 0.5;
   }

   &:checked + label .fa-check {
     transform: translateY(0) scale(1.1);
   }

 }
}

// .group-stickies {
// 
//   .group {
//     cursor: pointer;
//     position: relative;
// 
//     &:hover {
//       background: #f2f2f2;
//       text-decoration: none;
//     }
// 
//     img {
//       float: left;
//       padding-right: em(5);
//     }
// 
//     .group-members_count {
//       color: #a3a3a3;
//       font-size: em(12);
//       display: block;
//     }
// 
//     .fa-check {
//       background: none repeat scroll 0 0 #00c800;
//       border: 2px solid #fff;
//       border-radius: 50%;
//       color: #fff;
//       font-size: 20px;
//       height: 34px;
//       left: 21px;
//       line-height: 30px;
//       position: absolute;
//       text-align: center;
//       top: 21px;
//       width: 34px;
// 
//       @include transition;
//       @include transform(translateY(10px) scale(0));
//     }
//   }
// 
//   .formtastic & .group:nth-child(3n + 1) {
//     clear: none;
//   }
// 
//   .formtastic & input[type=checkbox] {
//     display: none;
// 
//     &:checked + label {
//       box-shadow: 0 0 2px $base;
//     }
// 
//     &:checked + label img {
//       opacity: 0.5;
//     }
// 
//     &:checked + label .fa-check {
//       @include transform(translateY(0) scale(1.1));
//     }
// 
//   }
// }


@media (max-width: 768px) {

  .group-listing .group:nth-child(2n+1) {
    clear: both;
  }

  .group-listing .group:nth-child(3n+1 ) {
    clear: none;
  }

  .group-listing .group {

    .group-image {
      float: none;
      margin: 0 0 0.5em;
      max-width: 100%;
      display: block;
    }

  }

}
