.widget-events {

  .date-calendar {
    @extend .col-md-3;
    background: #f7f7f7;
    border: 1px solid #d19023;
    text-align: center;

    .date-month {
      border-bottom: 1px solid #cfcfcf;
      display: inline-block;
      padding-bottom: 2px;
      margin-bottom: 5px;

      color: #a2a2a2;
      font-size: 13px;
      text-transform: uppercase;
    }

    .date-day {
      color: #7c7373;
    }
  }
}

.event {
    padding: 10px !important;
}
.event-title {
  margin-left: 5px;
}
  
.czar-filter-container{
    margin-top:30px;
}

.czar-filter-col{
    padding-left:5px;
    padding-right:5px;
}

.czar-panel{
  width: 270px;
  margin-left: 15px;
}